{% extends "blog/base.html" %}
{% block content %} 
    <article class="card mb-3">
        <div class="card-header">
            <small>Django micro Blog</small>
        </div>
        <div class="card-body">
            <h5 class="card-title">About Django Micro Blog</h5>
            <p class="card-text">This is a micro blogging site for enthusists,
                upcoming artists, software engineers, and all the cool people
            </p>
        </div>
    </article>
{% endblock content %}
